* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.ekran {
  width: 100%;
  height: 100vh;
  background: dodgerblue;
  padding: 100px;
  display: flex;
  
}
.bir{
  width: 150px;
  height: 150px;
  background: white;
}
.ikki{
    width: 150px;
    height: 150px;
    background: white;
    margin-left: 1000px;
}
.uch{
    width: 150px;
    height: 150px;
    background: white;

    margin-top: 400px;
    margin-right: 50px;
}
